In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./sea_levels_2015.csv')
df.head(5)

         Time   GMSL  GMSL uncertainty
0  1880-01-15 -183.0              24.2
1  1880-02-15 -171.1              24.2
2  1880-03-15 -164.3              24.2
3  1880-04-15 -158.2              24.2
4  1880-05-15 -158.7              24.2

In [3]:
df.info

<bound method DataFrame.info of             Time   GMSL  GMSL uncertainty
0     1880-01-15 -183.0              24.2
1     1880-02-15 -171.1              24.2
2     1880-03-15 -164.3              24.2
3     1880-04-15 -158.2              24.2
4     1880-05-15 -158.7              24.2
...          ...    ...               ...
1603  2013-08-15   71.6               8.8
1604  2013-09-15   68.8               8.8
1605  2013-10-15   66.4               8.9
1606  2013-11-15   59.7               9.0
1607  2013-12-15   58.5               9.0

[1608 rows x 3 columns]>

In [4]:
df1 = df["Time"].to_numpy()
df2 = df["GMSL"].to_numpy()

In [5]:
plt.plot(df1, df2)