In [14]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import math

In [21]:
data = pd.read_csv('./diabetes.csv')
data.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [40]:
X = data[["BloodPressure", "Glucose"]]
y = data["Outcome"]

     BloodPressure  Glucose
0               72      148
1               66       85
2               64      183
3               66       89
4               40      137
..             ...      ...
763             76      101
764             70      122
765             72      121
766             60      126
767             70       93

[768 rows x 2 columns] 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

## JARAK EUCLIDEAN

In [37]:
def eucledean(q1, p1):
    jarak = math.sqrt((q1 - p1)**2)
    
    return jarak

## KNN

In [39]:
class KNN:
    def __init__(self, k):
        self.k = k
    def train(self, X, y):
        self.X = X
        self.y = y
    
    def predik()